{% extends "base.html" %}

{% block sub_title %}Geração de Tokens{% endblock sub_title %}

{% block body %}
	<h2>Professores</h2>
	<table style="border-spacing: 2px;border-color: black;">
		<tr>
			<td>Nome</td>
			<td>login</td>
			<td>token</td>
		</tr>

		{% for usuario in professores %}

		<tr>
			<td>{{ usuario.name }}</td>
			<td>{{ usuario.login}}</td>
			<td>{{ usuario.token}}</td>
		</tr>

		{% endfor %}

	</table>

	<h2>Monitores</h2>
	<table style="border-spacing: 2px;border-color: black;">
		<tr>
			<td>Nome</td>
			<td>login</td>
			<td>token</td>
		</tr>
		{% for usuario in monitores %}

		<tr>
			<td>{{ usuario.name }}</td>
			<td>{{ usuario.login}}</td>
			<td>{{ usuario.token}}</td>
		</tr>

		{% endfor %}

	</table>

	<h2>Alunos</h2>
	<table style="border-spacing: 2px;border-color: black;">
		<tr>
			<td>Nome</td>
			<td>login</td>
			<td>token</td>
		</tr>
		{% for usuario in alunos %}

		<tr>
			<td>{{ usuario.name }}</td>
			<td>{{ usuario.login}}</td>
			<td>{{ usuario.token}}</td>
		</tr>

		{% endfor %}

	</table>

	<form action="." method="post">
		{% csrf_token %}
		<input type="radio" name="tipo" value="{{TokenConvite.PROFESSOR}}"> Professor<br>
		<input type="radio" name="tipo" value="{{TokenConvite.MONITOR}}"> Monitor<br>
		<input type="radio" name="tipo" value="{{TokenConvite.ALUNO}}"> Aluno<br>
		<input type="submit" value="enviar"></input>
	</form>

	
{% endblock body %}
