<!DOCTYPE html>
<html>
<head>
	<title>Geração de Tokens</title>
</head>
<body>
<h2>Tokens Criados</h2>

<table style="border-spacing: 2px;border-color: black;">
<tr>
	<td>Token</td>
	<td>Tipo</td>
	<td>Usado?</td>
</tr>

{% for token in TokenConvite.objects.all %}

	<tr>
		<td>{{ token.token }}</td>
		<td>{{ token.get_tipo_display}}</td>
		<td>{% if token.usado %} Sim {%else%} Não {%endif%}

		</td>
	</tr>

{% endfor %}

</table>

<form action="." method="post">
{% csrf_token %}
	<input type="radio" name="tipo" value="{{TokenConvite.PROFESSOR}}"> Professor<br>
    <input type="radio" name="tipo" value="{{TokenConvite.MONITOR}}"> Monitor<br>
    <input type="radio" name="tipo" value="{{TokenConvite.ALUNO}}"> Aluno<br>
    <input type="submit" value="enviar"></input>
</form>

</body>
</html>